body {
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-color: burlywood;
  }


h1 {
  text-align: center;
  font-size: 30px;
}

h2,h3 {
  text-align: center;
  font-size: 15px;
}

/* class letter is the keyboard letters */
.letter {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid black;
  text-transform: uppercase; 
}


 .keyboard {

    border: 0.5rem outset black;
    outline: 0.5rem solid khaki;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-color: burlywood;

  }

  .photo {
    order: 0.5rem outset black;
    outline: 0.5rem solid khaki;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-color: burlywood;
  }

nav, footer {
  clear: both;
  background-color: #aeaca8;
  height: 30px;
}

nav ul {
  margin: 0px;
  padding: 5px  0px 5px 30px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: Red;
}